/*页面通用设置*/

:root {
    /*通用颜色*/
    --black:  rgb(0, 0, 0);
    --white:  rgb(255, 255, 255);
    /*文本样式*/
    --text_navagation: Calibri;
    --text_top_lab_name: Andale Mono;
    --text_people_intro: "Open Sans", sans-serif; /* 定义Open Sans字体变量 */
    --box_whole_height_px: 19100px;    /*整个盒子的高度*/
    --top_box_px: 50px;   /*顶部盒子的高度*/
    --info_box_height: 2680px;   /* 信息统计盒子高度 */
    --about_us_top: 2700px;   /* About Us 文字距离顶部的高度    about_us_top = info_box_height + 20px */
    --info_people_box_top: 2730px;   /* Ph.D. Master's Staff 等统计信息距离顶部的高度 */
    --phd_title_top: 2900px;  /* 博士Ph.D. Student标题距离顶部的高度 */
    --phd_box_top: 2950px;    /* 博士盒子距离顶部的高度 */
    --phd_box_height: 3200px;  /* 博士盒子总高 */
    --master_title_top: 6150px;     /* 硕士Master's Student标题距离顶部的高度 */
    --master_box_top: 6220px; /*硕士盒子距离顶部的高度*/
    --master_box_height: 12780px; /* 硕士盒子总高 */
    --bottom_box_height_px: 19050px;    /*底部盒子的距离顶部的高度  bottom_box_height_px = box_whole_height_px - 50px*/

 }

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.box_wholshiyicui {
    background-color: rgba(0, 0, 0, 0); 
    width: 100%;
    height: var(--box_whole_height_px); /* 固定高度为2000px */
    padding: 0px; /* 可选：设置内边距 */
    position: absolute; /* 设置定位属性为绝对定位 */
    top: 0px; /* 设置距离顶部的偏移量 */
    left: 0px; /* 设置距离左侧的偏移量 */
    margin: 0; /* 移除默认的外边距 */
}

/* --------------------------------1.顶部大盒子-------------------------------- */
.box_top {
    position: absolute; /* 绝对定位 */
    width: 100%; /* 宽度占满父容器的宽度 */
    height: var(--top_box_px); /* 高度占整个盒子的10% */
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
}

.top_header {
    position: fixed; /* 固定定位 */
    top: 0px; /* 距离顶部0px */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%); /* 通过transform居中 */
    width: 1100px; /* 示例宽度 */
    height: 50px; /* 示例高度 */
    background-color: rgba(0, 0, 0, 0); /* 半透明背景颜色 */
    backdrop-filter: blur(10px); /* 玻璃模糊效果 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
    display: flex; /* 设置为flex容器 */
    justify-content: space-around; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    z-index: 1000; /* 确保导航栏在最上层 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 添加底部边框，增强玻璃效果 */
}

.header_text{
    text-decoration: none; /* 移除下划线 */
    color: rgb(0, 0, 0);
    font-family: var(--text_navagation); /*设置字体*/
    font-size: 30px; /*设置字体大小*/
}

/*鼠标悬停顶部导航栏变成橙色*/
.header_text:hover{
    color: rgb(255, 123, 0);
}

/* -----------------1.2顶部标题栏----------------- */


/* --------------------------------2.中间大盒子-------------------------------- */
.box_center {
    position: absolute; /* 绝对定位 */
    top: var(--top_box_px); /* 距离顶部的偏移量 */
    width: 100%; /* 宽度占满父容器的宽度 */
    height: 98%; /* 高度占整个盒子的80% */
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
}

/* -----------------2.1居中的盒子----------------- */
.center_middle {
    position: absolute; /* 绝对定位 */
    top: 0px; /* 距离顶部0px */
    left: 50%; /* 距离左侧50% */
    transform: translateX(-50%); /* 通过transform居中 */
    width: 1100px; /* 示例宽度 */
    height: 100%; /* 示例高度 */
    background-color: white; /* 示例背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
    display: flex; /* 设置为flex容器 */
    justify-content: space-around; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* -----------------导师的盒子----------------- */
.lab_director_box{
    position: absolute; /* 绝对定位 */
    top: 0px; /* 距离顶部0px */
    width: 1100px; /* 示例宽度 */
    height: 290px; /* 示例高度 */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
    display: flex; /* 设置为flex容器 */
    justify-content: flex-start; /* 水平居中 */
    align-items: flex-start; /* 垂直居中 */
}

.director_text{
    position: absolute; /* 绝对定位 */
    top: 0; /* 距离顶部0px */
    left: 50%; /* 距离左侧50% */
    transform: translateX(-50%); /* 通过transform水平居中 */
    width: 200px; /* 示例宽度 */
    height: 50px; /* 示例高度 */
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 36px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
}

.teacher_box {
    position: relative; /* 相对定位 */
    top: 50px; /* 距离顶部50px */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    width: 535px; /* 宽度 */
    height: 250px; /* 高度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 水平居中 */
    margin-left: 10px; /* 右边距10px */
}

.teacher_image {
    width: 180px; /* 宽度 */
    height: 180px; /* 高度 */
    overflow: hidden; /* 防止图片溢出 */
    border: 2px solid #fff; /* 边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
    position: relative; /* 相对定位 */
}

.teacher_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保图片填充整个盒子 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.teacher_image:hover img {
    opacity: 0; /* 鼠标悬停时隐藏原图 */
}

.teacher_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0; /* 默认隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.teacher_image[data-hover-image="Li_teacher_1"]::before {
    background-image: url(../images/people_img/liguofa/liguofa_1.png); /* 替换为第二张图片路径 */
}

.teacher_image[data-hover-image="Li_teacher_2"]::before {
    background-image: url(../images/people_img/lijie/lijie_2.jpg); /* 替换为第二张图片路径 */
}

.teacher_image:hover::before {
    opacity: 1; /* 鼠标悬停时显示第二张图片 */
}

.teacher_name {
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
    margin-top: 10px; /* 与头像的间距 */
    text-align: center; /* 文字居中 */
}

/* -----------------标签Lab photos----------------- */
.Lab_photos{
    position: absolute;
    top: 280px;
    width: 1100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);

    position: absolute; /* 绝对定位 */
    left: 50%; /* 距离左侧50% */
    transform: translateX(-50%); /* 通过transform水平居中 */

    font-family: var(--text_navagation); /* 使用Calibri字体 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 36px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
}

/* -----------------成员展示相册框----------------- */
.people_show {
    position: absolute;
    top: 330px;
    width: 854px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden; /* 防止图片溢出 */
}

.show_img {
    display: flex;
    width: 4270px; /* 854px * 5张图片    如果需要加图片，这里需要调整大小哦~~~~~~~~~~ */
    transform: translateX(0); /* 初始状态不应用图片X轴水平轮播 */
    transition: transform 0.5s ease-in-out; /* 图片轮播过渡效果0.5秒 */
}

.show_img img {
    width: 854px; /* 每张图片的宽度 */
    height: 480px; /* 每张图片的高度 */
}

/* 左按钮 */
.left_button {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
    top: 50%;
    background-image: url(../images/home_img/left_button.png);
    background-size: cover;
    background-position: center;
    background-color: transparent; /* 移除按钮背景色 */
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

/* 右按钮 */
.right_button {
    position: absolute;
    right: 0px;
    width: 70px;
    height: 70px;
    top: 50%;
    background-image: url(../images/home_img/right_button.png);
    background-size: cover;
    background-position: center;
    background-color: transparent; /* 移除按钮背景色 */
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

/* 小椭圆导航 */
.nav_ellipses {
    position: absolute;
    top: 825px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.ellipse {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray; /* 默认灰色 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ellipse.active, .ellipse:hover {
    background-color: black; /* 激活或悬停时黑色 */
}

/* -----------------Members标题----------------- */
.student_text{
    position: absolute; /* 绝对定位 */
    top: 850px; /* 距离顶部0px */
    left: 50%; /* 距离左侧50% */
    transform: translateX(-50%); /* 通过transform水平居中 */
    width: 200px; /* 示例宽度 */
    height: 50px; /* 示例高度 */
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 36px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
}
/* -----------------学生的盒子----------------- */
.lab_student_box{
    position: absolute; /* 绝对定位 */
    top: 900px; /* 距离顶部0px */
    width: 1100px; /* 示例宽度 */
    height: 1400px; /* 示例高度 */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
    display: flex; /* 设置为flex容器 */
    flex-wrap: wrap; /* 允许换行 */
    justify-content: space-around; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.student_box {
    position: relative; /* 相对定位 */
    top: 0px; /* 距离顶部50px */
    background-color: rgba(0, 0, 0, 0); /* 示例背景颜色 */
    width: 200px; /* 宽度 */
    height: 220px; /* 高度 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 水平居中 */
    margin-right: 10px; /* 右边距10px */
}

.student_image {
    width: 180px; /* 宽度 */
    height: 180px; /* 高度 */
    overflow: hidden; /* 防止图片溢出 */
    border: 2px solid #fff; /* 边框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
    position: relative; /* 相对定位 */
}

/* 多余的空出来的盒子，做隐藏处理 */
.student_image_hidden{
    width: 180px; /* 宽度 */
    height: 180px; /* 高度 */
    overflow: hidden; /* 防止图片溢出 */
    border: 2px solid #fff; /* 边框 */
    position: relative; /* 相对定位 */
}

.student_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保图片填充整个盒子 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

.student_image:hover img {
    opacity: 0; /* 鼠标悬停时隐藏原图 */
}

.student_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0; /* 默认隐藏 */
    transition: opacity 0.3s ease; /* 添加过渡效果 */
}

/* 下面的都是头像展示栏的变换第二张图片 */

.student_image[data-hover-image="ganlu_2"]::before {
    background-image: url(../images/people_img/ganlu/ganlu_4.jpg); /* 替换为第二张图片路径 */
}

/* 1 */
.student_image[data-hover-image="chengyuhan_2"]::before {
    background-image: url(../images/people_img/chengyuha/chengyuhan_2.png); /* 替换为第二张图片路径 */
}

/* 2 */
.student_image[data-hover-image="ouyangdelin_2"]::before {
    background-image: url(../images/people_img/ouyangdelin/ouyangdelin_2.jpg); /* 替换为第二张图片路径 */
}

/* 3 */
.student_image[data-hover-image="qilingfeng_2"]::before {
    background-image: url(../images/people_img/qilingfeng/qilingfeng_2.jpg); /* 替换为第二张图片路径 */
}

/* 4 */
.student_image[data-hover-image="huangxiangfei_2"]::before {
    background-image: url(../images/people_img/huangxiangfei/huangxiangfei_2.jpg); /* 替换为第二张图片路径 */
}

/* 5 */
.student_image[data-hover-image="caolong_2"]::before {
    background-image: url(../images/people_img/caolong/caolong_2.png); /* 替换为第二张图片路径 */
}

/* 5 */
.student_image[data-hover-image="qiankelin_2"]::before {
    background-image: url(../images/people_img/qiankelin/qiankelin_2.jpg); /* 替换为第二张图片路径 */
}

/* 6 */
.student_image[data-hover-image="kangbingxiang_2"]::before {
    background-image: url(../images/people_img/kangbingxiang/kangbingxiang_2.jpeg); /* 替换为第二张图片路径 */
}

/* 7 */
.student_image[data-hover-image="xueqihong_2"]::before {
    background-image: url(../images/people_img/xueqihong/xueqihong_2.png); /* 替换为第二张图片路径 */
}

/* 8 */
.student_image[data-hover-image="jiangtao_2"]::before {
    background-image: url(../images/people_img/jiangtao/jiangtao_2.png); /* 替换为第二张图片路径 */
}

/* 9 */
.student_image[data-hover-image="zhangjunjie_2"]::before {
    background-image: url(../images/people_img/zhangjunjie/zhangjunjie_2.jpg); /* 替换为第二张图片路径 */
}

/* 10 */
.student_image[data-hover-image="shaojinyuan_2"]::before {
    background-image: url(../images/people_img/shaojinyuan/shaojinyuan_2.jpg); /* 替换为第二张图片路径 */
}

/* 10 */
.student_image[data-hover-image="libo_2"]::before {
    background-image: url(../images/people_img/libo/libo_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="like_2"]::before {
    background-image: url(../images/people_img/like/like_5.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="guochenfei_2"]::before {
    background-image: url(../images/people_img/guochenfei/guochenfei_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="zoujie_2"]::before {
    background-image: url(../images/people_img/zoujie/zoujie_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="wangyingchen_2"]::before {
    background-image: url(../images/people_img/wangyincheng/wangyingchen_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="huotianci_2"]::before {
    background-image: url(../images/people_img/huotianci/huotianci_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="yuhai_2"]::before {
    background-image: url(../images/people_img/yuhai/yuhai_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="yanjun_2"]::before {
    background-image: url(../images/people_img/yanjun/yanjun_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="caifuning_2"]::before {
    background-image: url(../images/people_img/caifuning/caifuning_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="chenzhigui_2"]::before {
    background-image: url(../images/people_img/chenzhigui/chenzhigui_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="lanqi_2"]::before {
    background-image: url(../images/people_img/lanqi/lanqi_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="jiyaohui_2"]::before {
    background-image: url(../images/people_img/jiyaohui/jiyaohui_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="fangying_2"]::before {
    background-image: url(../images/people_img/fangying/fangying_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="huqian_2"]::before {
    background-image: url(../images/people_img/huqian/huqian_4.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="shiyicui_2"]::before {
    background-image: url(../images/people_img/shiyicui/shiyicui_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="liangshuang_2"]::before {
    background-image: url(../images/people_img/liangshuang/liangshuang_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="panyucheng_2"]::before {
    background-image: url(../images/people_img/panyucheng/panyucheng_2.jpeg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="zhouyi_2"]::before {
    background-image: url(../images/people_img/zhouyi/zhouyi_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="shenyu_2"]::before {
    background-image: url(../images/people_img/shenyu/shenyu_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="yangchen_2"]::before {
    background-image: url(../images/people_img/yangchen/yaochen_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="chenrende_2"]::before {
    background-image: url(../images/people_img/chenrende/chenrende_2.jpg); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="yuwenxuan_2"]::before {
    background-image: url(../images/people_img/yuwenxuan/yuwenxuan_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="weiyuhao_2"]::before {
    background-image: url(../images/people_img/weiyuhao/weiyuhao_2.png); /* 替换为第二张图片路径 */
}

.student_image[data-hover-image="wangzhongquan_2"]::before {
    background-image: url(../images/people_img/wangzhongquan/wangzhongquan_2.jpg); /* 替换为第二张图片路径 */
}

.student_image:hover::before {
    opacity: 1; /* 鼠标悬停时显示第二张图片 */
}

.student_name {
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
    margin-top: 3px; /* 与头像的间距 */
    text-align: center; /* 文字居中 */
}

/* --------------------------------详细介绍-------------------------------- */
.about_us{
    position: absolute;
    top: var(--about_us_top);
    width: 1100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);

    position: absolute; /* 绝对定位 */
    left: 50%; /* 距离左侧50% */
    transform: translateX(-50%); /* 通过transform水平居中 */

    font-family: var(--text_navagation); /* 使用Calibri字体 */
    z-index: 1000;
    display: flex; /* 使用flex布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 48px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
}

/* -----------------统计信息大盒子----------------- */
.people_info {
    position: absolute;
    top: var(--info_people_box_top); /* 距离About us盒子下方 */
    width: 1100px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around; /* 水平间距均匀分布 */
    align-items: center; /* 垂直居中 */
    padding: 0px; /* 内边距 */
}

.people_info_back_box {
    position: absolute;
    top: var(--info_box_height); /* 距离About us盒子下方 */
    width: 99vw; /* 占满整个视口宽度 */
    height: 200px; /* 高度不变 */
    background-color: rgb(240, 240, 240); /* 背景颜色 */
    left: 50%; /* 从左侧50%开始 */
    transform: translateX(-50%); /* 通过transform水平居中 */
    z-index: -1; /* 确保它在内容下方 */
}

/* 统计信息小盒子 */
.info_box {
    width: 150px; /* 每个小盒子的宽度 */
    height: 140px; /* 每个小盒子的高度 */
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    display: flex;
    flex-direction: column; /* 垂直排列 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
}

.info_box h3 {
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    font-size: 18px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 10px; /* 与数字的间距 */
}

.info_box p {
    line-height: 1.5;
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    font-size: 42px; /* 设置字体大小 */
    color: #000000c9; /* 设置文字颜色 */
    font-weight: bold; /* 加粗 */
}

/* -----------------标题Ph.D. student----------------- */
.phd_student_title{
    position: absolute;
    top: var(--phd_title_top);
    width: 1100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);

    position: absolute; /* 绝对定位 */
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    display: flex; /* 使用flex布局 */
    justify-content: flex-start; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 36px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
    border-bottom: 2px solid #333; /* 添加横线 */
    padding-bottom: 10px; /* 调整横线与文字的距离 */
}


/* -----------------学生介绍大盒子----------------- */
.phd_student_intro_big_box {
    position: absolute;
    top: var(--phd_box_top); /* 距离About us盒子下方 */
    width: 1100px;
    height: var(--phd_box_height); /*每行一个学生 */
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* 垂直排列 */
    justify-content: space-around; /* 垂直间距均匀分布 */
    align-items:flex-start; /* 水平居中 */
    padding: 0px; /* 内边距 */
}

/* 学生介绍小盒子 */
.student_intro_box {
    width: 1100px; /* 每个小盒子的宽度 */
    height: 400px; /* 每个小盒子的高度 */
    background-color: rgba(255, 255, 255, 0.95); /* 背景颜色 */
    display: flex;
    align-items: flex-start; /* 内容从顶部开始 */
    border-radius: 10px; /* 圆角 */
    margin-bottom: 0px; /* 下边距 */
    padding-top: 0px; /* 顶部内边距，根据需要调整 */
}

/* 学生介绍图片 */
.student_intro_image {
    width: 540px;
    height: 400px;
    overflow: hidden;
    margin-right: 20px; /* 图片与文本的间距 */
}

.student_intro_image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保图片填充整个盒子 */
}

/* 学生介绍文本 */
.student_intro_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 内容从顶部开始 */
    align-items: flex-start; /* 左对齐 */
    padding-top: 0; /* 移除顶部内边距 */
}

/* 姓名 */
.student_intro_text h3 {
    font-family: var(--text_people_intro); /* 使用Open Sans字体 */
    font-size: 40px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 10px; /* 与段落的间距 */
    transition: font-size 0.3s ease; /* 添加过渡效果 */
}

.student_intro_text h3:hover{
    color: rgb(255, 123, 0);
}

/* 学位&兴趣 */
.student_intro_text h4 {
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    font-size: 20px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 8px; /* 与段落的间距 */
}

/* 介绍 */
.student_intro_text p {
    font-family: var(--text_people_intro); /* 使用Open Sans字体 */
    font-size: 16px; /* 设置字体大小 */
    font-weight: 450; /* 设置字体粗细 */
    font-style: normal; /* 设置字体样式 */
    color: #555; /* 设置文字颜色 */
    line-height: 1.5; /* 行高 */
    margin-bottom: 8px; /* 段后间距，根据需要调整 */
    text-align: justify;
}

/*  个人链接样式  */
.student_intro_text a {
    color: black; /* 设置链接颜色为黑色 */
    text-decoration: underline; /* 添加下划线 */
    font-family: var(--text_people_intro); /* 使用Open Sans字体 */
    font-size: 16px; /* 设置字体大小 */
    font-weight: 450; /* 设置字体粗细 */
    font-style: normal; /* 设置字体样式 */
    line-height: 1.2; /* 行高 */
}

.student_intro_text a:hover {
    color: #555; /* 鼠标悬停时颜色变浅 */
    text-decoration: underline; /* 保持下划线 */
}

/* -----------------标题master's student----------------- */
.master_student_title{
    position: absolute;
    top: var(--master_title_top);
    width: 1100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);

    position: absolute; /* 绝对定位 */
    font-family: var(--text_navagation); /* 使用Calibri字体 */
    display: flex; /* 使用flex布局 */
    justify-content: flex-start; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 36px; /* 设置字体大小 */
    font-weight: bold; /* 加粗 */
    color: #333; /* 设置文字颜色 */
    margin-bottom: 0; /* 移除与头像的间距 */
    border-bottom: 2px solid #333; /* 添加横线 */
    padding-bottom: 10px; /* 调整横线与文字的距离 */
}

/* ---------------硕士学生大盒子---------------- */
.master_student_intro_big_box{
    position: absolute;
    top: var(--master_box_top); /* 距离About us盒子下方 */
    width: 1100px;
    height: var(--master_box_height); /*每行一个学生 */
    background-color: rgba(0, 0, 0, 0); /* 背景颜色 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* 垂直排列 */
    justify-content: space-around; /* 垂直间距均匀分布 */
    align-items:flex-start; /* 水平居中 */
    padding: 0px; /* 内边距 */
}



/* --------------------------------3.底部大盒子-------------------------------- */
.box_bottom {
    position: absolute; /* 绝对定位 */
    top: var(--bottom_box_height_px); /* 距离顶部的偏移量为90% */
    width: 100%; /* 宽度占满父容器的宽度 */
    height: 80px; /* 高度占整个盒子的10% */
    background-color: rgb(54, 54, 54); /* 背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
}

/* -----------------3.1居中的盒子----------------- */
.bottom_middle {
    position: absolute; /* 绝对定位 */
    top: 0px; /* 距离顶部0px */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%); /* 通过transform居中 */
    width: 1100px; /* 示例宽度 */
    height: 100%; /* 示例高度 */
    background-color: rgba(255, 255, 255, 0); /* 示例背景颜色 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 可选：设置内边距 */
    display: flex; /* 设置为flex容器 */
    justify-content: space-around; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}


.bottom_text_1{
    color: rgb(255, 255, 255);
    text-align: center;
    top: 0px; /*距离div高10px*/
    font-size: 18px; /*设置字体大小*/
    font-family: STfangsong; /*设置字体*/
    line-height: 1.5; /*行高*/
    font-weight: bold;
}